.element__delete-button{
  display: block;
  width: 18px;
  height: 19px;

  background: url(../../../src/images/deleteButton.svg) center no-repeat;
  border: none;

  position: absolute;
  right: 20px;
  top: 20px;

  cursor: pointer;
  transition: 0.2s;
}

.element__delete-button:hover{
  opacity: 0.5;

}