.profile__profession{
  max-width: 400px;
  color: white;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .profile__profession{
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__profession{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}