.profile__add-button{
  width: 150px;
  height: 50px;
  margin: auto  0 auto auto;
  padding: 0;

  background: url(../../../src/images/Plus.svg) center no-repeat black;
  background-size: 22px;
  border: 2px solid white;
  border-radius: 2px;

  cursor: pointer;
  transition: 0.2s;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 907px) {
  .profile__add-button{
    margin-right: 27px;
}
}

@media screen and (max-width: 768px) {
  .profile__add-button{
    width: 282px;
    margin: 36px 0 0;
    background-size: 16px;
}
}