.element__like-button{
  width: 22px;
  height: 22px;
  margin: auto 20px auto auto;
  background: url(../../../images/like\ Button.svg) center no-repeat white;
  border: none;

  cursor: pointer;

  transition: 0.2s;
}

.element__like-button:hover{
  opacity: 0.5;
}

/* .element__like-button:active{
  background: url(../../../images/like\ Button\ active.svg) center no-repeat;
} */