.footer{
  color: #545454;
  width: 100%;
  margin: 0;
  padding: 48px 0 42px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 907px) {
  .footer{
    max-width: 581px;
  }
}

@media screen and (max-width: 581px) {
  .footer{
    max-width: 282px;
    padding: 34px 0 22px 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}