.footer{
  color: #545454;
  width: 100%;
  margin: 0;
  padding-top: 66px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 907px) {
  .footer{
    width: 581px;
  }
}

@media screen and (max-width: 581px) {
  .footer{
    width: 282px;
  }
}

@media screen and (max-width: 425px) {
  .footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}